.email_container {
    border-collapse:collapse;width:600px;border:1px solid #d9d9d9;background-color: #010214;color: white;
}

.image_logo{
    font-family:Helvetica,Arial,sans-serif;line-height:160%;padding-top:40px;padding-bottom:40px;
}

.user_name{
    color: #009191;font-weight:600
}

.img_noitadaa{
    border:0;height:auto;line-height:100%;outline:none;text-decoration:none;max-width:80px;width:80px
}

.text_title{
    max-width:600px;border:0;height:auto;line-height:100%;outline:none;text-decoration:none
}

.container_title{
    background-color: #00AFAE;
    width: 600px;
    height: 100px;
    line-height:160%;text-align:center
}

.text_body{
    font-family:Helvetica,Arial,sans-serif;line-height:160%;font-size:16px;padding-top:64px;padding-bottom:40px;padding-right:72px;padding-left:72px;
}

.text_name{
    font-family:Helvetica,Arial,sans-serif;line-height:160%;padding-bottom:32px;text-align:center
}

/*
.text_hello{
    display:block;font-family:Helvetica,Arial,sans-serif;font-style:normal;font-weight:bold;line-height:100%;letter-spacing:normal;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-align:center;color:#404040;font-size:20px
}

*/

.section_email{
    font-family:Helvetica,Arial,sans-serif;line-height:160%;padding-bottom:32px;text-align:center
}

.section_email p{
    font-family:'HelveticaNeue-Light','Helvetica Neue Light','Open Sans',Calibri,Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;
}

.social_footer{
    font-family:Helvetica,Arial,sans-serif;line-height:160%;text-align:center;background: #006969;
    padding: 24px 0 18px;
}

.text_footer{
    font-family:Helvetica,Arial,sans-serif;line-height:160%;padding-bottom:16px;text-align:center;margin-top:32px;padding-left:12%;padding-right:12%
}

.text_footer p {
    margin:0;color:#666;font-size:13px
}

.text_underline{
    text-decoration:underline;color: #007d7d;font-weight:bold
}

.footer_company_name{
    font-family:Helvetica,Arial,sans-serif;line-height:160%;padding-bottom:16px;text-align:center
}

.footer_company_name p{
    margin:0;padding-bottom:16px;color: #a5a5a5;font-size:13px
}

.footer_goodbye{
    font-family:Helvetica,Arial,sans-serif;line-height:160%;margin-bottom:0;padding-bottom:0;text-align:center
}

.footer_goodbye p{
    margin: 0;
    padding-bottom:0
}